*.dt
*.cf
*.epf
*.erf
*.log
*.pfl
*.ddp
*.mxl
*.geo
*.md
*.mf
*.mft
*.mdo
*.mxl
*.prm
*.prn
*.rpt
*.res
*.scd
*.snp
*.st
*.stg
*.stt
*.stt~
*.tab
*.txt
*.v8i
*.v8ir
*.v8i~
*.v8d
*.v8d~
*.v8f
*.v8f~
*.v8m
*.v8m~
*.v8p
*.v8p~
*.v8r
*.v8r~
*.v8t
*.v8t~
*.v8u
*.v8u~
*.v8w
*.v8w~

# Временные файлы
*.tmp
*.bak
*.old
*.orig
*~

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Папки с временными данными
/1Cv8Log/
/1Cv8tmp/
/1Cv8Update/
/1Cv8cache/
